<div style="display: flex; justify-content: space-evenly">
  <div>
    <div>
      <h3 style="text-align: center">
        Наш Флот
      </h3>
    </div>
    <div class="field">
      <div style="display: flex" *ngFor="let row of socket.myField ">
        <div class="fieldCells" *ngFor="let cell of row.cells">
          <div [ngClass]="{'notAvailableForDeployment': !checkIsCellAvailableForDeployment(cell)}"
               (click)="tryToPutVessel(cell)" style="width: 100%; height: 100%">
            <span style="width: 100%; height: 100%" *ngIf="cell.isShip">S</span>
            <span style="width: 100%; height: 100%" *ngIf="cell.isChecked">.</span>
            <span style="width: 100%; height: 100%" *ngIf="cell.isChecked && cell.isShip">X</span>
            <span style="width: 100%; height: 100%" *ngIf="cell.isNearVessel && !cell.isShip">.</span>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="currentState === 'plan'">
    <div *ngIf="socket.isEnemyReady" style="color: green">Соперник готов</div>
    <div *ngIf="!socket.isEnemyReady" style="color: red">Соперник не готов</div>
    <div>
      <h3>Суда в резерве</h3>
      <div *ngIf="socket.readyToStart">
        <button (click)="startFight()" mat-raised-button>Начать игру</button>
      </div>
      <div *ngFor="let vessels of myReserveVessels">
        <div class="vesselRowInReserve" *ngIf="vessels === 4">
          <span class="vesselInReserve"></span>
          <span class="vesselInReserve"></span>
          <span class="vesselInReserve"></span>
          <span class="vesselInReserve"></span>
        </div>
        <div class="vesselRowInReserve" *ngIf="vessels === 3">
          <div class="vesselInReserve"></div>
          <div class="vesselInReserve"></div>
          <div class="vesselInReserve"></div>
        </div>
        <div class="vesselRowInReserve" *ngIf="vessels === 2">
          <div class="vesselInReserve"></div>
          <div class="vesselInReserve"></div>
        </div>
        <div class="vesselRowInReserve" *ngIf="vessels === 1">
          <div class="vesselInReserve"></div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="currentState === 'fight'">
    <div>
      <h3 style="text-align: center">
        Флот соперника
      </h3>
      <div *ngIf="socket.isEnemyReady" class="field">
        <div style="display: flex" *ngFor="let row of socket.enemyField">
          <div class="fieldCells" *ngFor="let cell of row.cells">
            <div (click)="tryToShoot(cell)" style="width: 100%; height: 100%">
              <span style="width: 100%; height: 100%" *ngIf="cell.isChecked">.</span>
              <span style="width: 100%; height: 100%" *ngIf="cell.isChecked && cell.isShip">X</span>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!socket.isEnemyReady">
        Соперник еще не разместил свой флот
      </div>
    </div>

  </div>
</div>
<div style="color:green; font-weight: bold" *ngIf="socket.isMyTurn">
  Ваш ход
</div>
<div *ngIf="socket.enemyDice">
  {{socket.enemyDice}}
</div>

